Service References/EtiquetadoAutomaticoSOAP/etiquetadoautomatico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gnoss.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gnoss.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gnoss.com">
      <s:element name="SeleccionarEtiquetasDesdeServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProyectoID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarEtiquetasDesdeServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarEtiquetasDesdeServicioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarEtiquetas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProyectoID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarEtiquetasResponse">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarEtiquetasMultiple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProyectoID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identificadorPeticion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarEtiquetasMultipleResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarEtiquetasDesdeServicioSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarEtiquetasDesdeServicio" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasDesdeServicioSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarEtiquetasDesdeServicioResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarEtiquetas" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarEtiquetasResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasMultipleSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarEtiquetasMultiple" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasMultipleSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarEtiquetasMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasDesdeServicioHttpGetIn">
    <wsdl:part name="titulo" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
    <wsdl:part name="ProyectoID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasDesdeServicioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasHttpGetIn">
    <wsdl:part name="titulo" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
    <wsdl:part name="ProyectoID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasHttpGetOut" />
  <wsdl:message name="SeleccionarEtiquetasMultipleHttpGetIn">
    <wsdl:part name="titulo" type="s:string" />
    <wsdl:part name="descripcion" type="s:string" />
    <wsdl:part name="ProyectoID" type="s:string" />
    <wsdl:part name="identificadorPeticion" type="s:string" />
    <wsdl:part name="fin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SeleccionarEtiquetasMultipleHttpGetOut" />
  <wsdl:portType name="EtiquetadoAutomaticoSoap">
    <wsdl:operation name="SeleccionarEtiquetasDesdeServicio">
      <wsdl:input message="tns:SeleccionarEtiquetasDesdeServicioSoapIn" />
      <wsdl:output message="tns:SeleccionarEtiquetasDesdeServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetas">
      <wsdl:input message="tns:SeleccionarEtiquetasSoapIn" />
      <wsdl:output message="tns:SeleccionarEtiquetasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetasMultiple">
      <wsdl:input message="tns:SeleccionarEtiquetasMultipleSoapIn" />
      <wsdl:output message="tns:SeleccionarEtiquetasMultipleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EtiquetadoAutomaticoHttpGet">
    <wsdl:operation name="SeleccionarEtiquetasDesdeServicio">
      <wsdl:input message="tns:SeleccionarEtiquetasDesdeServicioHttpGetIn" />
      <wsdl:output message="tns:SeleccionarEtiquetasDesdeServicioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetas">
      <wsdl:input message="tns:SeleccionarEtiquetasHttpGetIn" />
      <wsdl:output message="tns:SeleccionarEtiquetasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetasMultiple">
      <wsdl:input message="tns:SeleccionarEtiquetasMultipleHttpGetIn" />
      <wsdl:output message="tns:SeleccionarEtiquetasMultipleHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EtiquetadoAutomaticoSoap" type="tns:EtiquetadoAutomaticoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarEtiquetasDesdeServicio">
      <soap:operation soapAction="http://gnoss.com/SeleccionarEtiquetasDesdeServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetas">
      <soap:operation soapAction="http://gnoss.com/SeleccionarEtiquetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetasMultiple">
      <soap:operation soapAction="http://gnoss.com/SeleccionarEtiquetasMultiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EtiquetadoAutomaticoSoap12" type="tns:EtiquetadoAutomaticoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarEtiquetasDesdeServicio">
      <soap12:operation soapAction="http://gnoss.com/SeleccionarEtiquetasDesdeServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetas">
      <soap12:operation soapAction="http://gnoss.com/SeleccionarEtiquetas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetasMultiple">
      <soap12:operation soapAction="http://gnoss.com/SeleccionarEtiquetasMultiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EtiquetadoAutomaticoHttpGet" type="tns:EtiquetadoAutomaticoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SeleccionarEtiquetasDesdeServicio">
      <http:operation location="/SeleccionarEtiquetasDesdeServicio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetas">
      <http:operation location="/SeleccionarEtiquetas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarEtiquetasMultiple">
      <http:operation location="/SeleccionarEtiquetasMultiple" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EtiquetadoAutomatico">
    <wsdl:port name="EtiquetadoAutomaticoSoap" binding="tns:EtiquetadoAutomaticoSoap">
      <soap:address location="http://etiquetado.gnoss.com/etiquetadoautomatico.asmx" />
    </wsdl:port>
    <wsdl:port name="EtiquetadoAutomaticoSoap12" binding="tns:EtiquetadoAutomaticoSoap12">
      <soap12:address location="http://etiquetado.gnoss.com/etiquetadoautomatico.asmx" />
    </wsdl:port>
    <wsdl:port name="EtiquetadoAutomaticoHttpGet" binding="tns:EtiquetadoAutomaticoHttpGet">
      <http:address location="http://etiquetado.gnoss.com/etiquetadoautomatico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>